@model IEnumerable<Stationnement.Models.Product>

@{
    ViewBag.Title = "Catalogue des Produits";
}

<h2>Catalogue des Produits</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="miseajour">
    @Html.Partial("_grille")
</div>


@section  scripts {
     <script src="~/Scripts/Catalogue.js"></script>
}